{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    {% include "messages.html" %}
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-third is-offset-2">
                    <div class="box">
                    <h1 class="title is-size-3 has-text-centered">Change Password</h1>
                    <hr>
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="field">
                            <label class="label">{{ form.password.label }}</label>
                            <div class="control">
                                {{ form.password(class="input is-danger") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.confirm.label }}</label>
                            <div class="control">
                                {{ form.confirm(class="input is-danger") }}
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <a href="{{ url_for('main.index') }}" class="button is-danger is-rounded">Cancel</a>
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-success is-rounded">Save</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="column">
                    <div class="notification is-light">
                        <div class="has-text-centered">
                            <span class="title is-size-5">Password Encryption</span>
                        </div>
                        <p>การยืนยันตัวตนด้วยชื่อบัญชีและรหัสผ่านเป็นวิธีการที่ใช้ในระบบสารสนเทศทั่วไป โดยระบบควรจะเข้ารหัส (encrypt) ก่อนทำการบันทึกรหัสผ่านลงในฐานข้อมูล
                        ซึ่งเมื่อเข้ารหัสแล้วจะไม่สามารถเรียกดูรหัสผ่านได้แม้ว่าจะเป็นผู้พัฒนาระบบก็ตาม แต่จะสามารถตรวจสอบความถูกต้องของรหัสผ่านได้เมื่อทำการลงชื่อเข้าใช้ระบบ
                        </p>
                        <p>
                            <br>
                            ผู้ใช้งานระบบไม่ควรเปิดเผยรหัสผ่านหรือให้ผู้อื่นใช้รหัสผ่านของตนเองในการใช้งานระบบและควรเปลี่ยนรหัสผ่านอยู่ประจำ
                        </p>
                        <p>
                            <br>
                            ระบบนี้ทำการเข้ารหัส (encrypt) รหัสผ่านด้วยวิธี <span class="tag is-rounded is-success">scrypt:32768:8:1</span>
                        </p>
                        <hr>
                        <h1 class="title is-size-6">User Password Hash</h1>
                        <table class="table is-fullwidth is-bordered is-narrow">
                                <td>Password</td>
                                <td>Text</td>
                                <td>scrypt:32768:8:1$ZC6HUUgCIQtkTYXP$e506b168525...</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}