{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third is-offset-4 box">
                    <h1 class="title is-size-3 has-text-centered">User Registration</h1>
                    <hr>
                    <form method="post">
                        <div class="field">
                            <label class="label">{{ form.firstname.label }}</label>
                            <div class="control">
                                {{ form.firstname(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.lastname.label }}</label>
                            <div class="control">
                                {{ form.lastname(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.license_id.label }}</label>
                            <div class="control">
                                {{ form.license_id(class="input", placeholder='License or Student ID') }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.email.label }}</label>
                            <div class="control">
                                {{ form.email(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.password.label }}</label>
                            <div class="control">
                                {{ form.password(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.confirm.label }}</label>
                            <div class="control">
                                {{ form.confirm(class="input") }}
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button type="submit" class="button is-success is-rounded">Submit</button>
                            </div>
                            <div class="control">
                                <button type="reset" class="button is-danger is-rounded">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
