{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds is-offset-2">
                <h1 class="title is-size-2 has-text-centered">About Lab Tycoon</h1>
                <h1 class="subtitle is-size-4 has-text-centered">Version 0.5.1</h1>
                <div class="box">
                    <article>
                        <p><strong>Lab Tycoon</strong> พัฒนาโดย Knowledge Base and Informatics Lab (KBIL) สังกัดภาควิชาเทคนิคการแพทย์ชุมชน คณะเทคนิคการแพทย์ มหาวิทยาลัยมหิดล
                        นำโดยอาจารย์ ดร.ลิขิต ปรียานนท์ เพื่อเป็นเครื่องมือในการเรียนการสอนทางด้าน Laboratory Informatics สำหรับนักเทคนิคการแพทย์ ระบบออกแบบมาเพื่อเน้นการสอนเป็นหลัก
                            จึงไม่เหมาะกับการนำไปประยุกต์ใช้โดยตรง แต่ว่าอาจจะสามารถนำบางส่วนไปต่อยอดเพิ่มเติมได้ หากท่านมีข้อเสนอแนะประการใดสามารถติดต่อได้ที่ likit.pre@mahidol.edu
                        </p>
                    </article>
                    <br>
                    <article>
                        <p>ระบบนี้เป็น open source สามารถเข้าถึง source code ได้ที่ <a href="https://github.com/likit/labtycoon">https://github.com/likit/labtycoon</a></p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}