{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% include "messages.html" %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="notification is-info">
                    สร้างห้องปฏิบัติการใหม่หรือส่งคำขอเพื่อเข้าร่วมห้องปฏิบัติการอื่นโดยคลิกที่ชื่อห้องปฏิบัติการ
                    <button class="delete"></button>
                </p>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <a class="button primary" href="{{ url_for('lab.create_lab') }}">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>
                        Create New Lab
                    </span>
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                {% for lab in labs %}
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">
                                {{ lab.name }}
                            </div>
                        </div>
                        <div class="card-content">
                            <p>{{ lab.desc }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-item">
                                <div class="buttons is-centered">
                                    {% if not current_user.is_affiliated_with(lab.id) %}
                                    <a class="button is-info is-rounded"
                                       href="{{ url_for('main.request_join_lab', lab_id=lab.id) }}">
                                        Request to join
                                    </a>
                                    {% else %}
                                    <a class="button is-success is-rounded"
                                       href="{{ url_for('lab.landing', lab_id=lab.id) }}">
                                        Enter
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    </section>
{% endblock %}