{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="notification is-{{ category }}">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                {% for lab in labs %}
                    <div class="card">
                    <div class="card-header">
                        <div class="card-header-title">
                            {{ lab.name }}
                        </div>
                    </div>
                    <div class="card-content">
                        <p>{{ lab.desc }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            <div class="buttons is-centered">
                                <a class="button is-info is-rounded"
                                   href="{{ url_for('main.request_join_lab', lab_id=lab.id) }}">
                                    Request to join
                                </a>
                                <a class="button is-success is-rounded"
                                   href="{{ url_for('lab.landing', lab_id=lab.id) }}">
                                    Enter
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </section>
{% endblock %}