{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% include "messages.html" %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="notification">
                    <span class="icon">
                        <i class="fas fa-user-clock has-text-danger"></i>
                    </span>
                    <span>Pending ({{ lab.num_pending_members }})</span>
                    <span class="icon">
                        <i class="fas fa-user-check has-text-success"></i>
                    </span>
                    <span>Approved ({{ lab.num_approved_members }})</span>
                    <span class="icon">
                        <i class="fas fa-user-check has-text-success"></i>
                    </span>
                    <span>Active ({{ lab.num_active_members }})</span>
                </p>
                <table class="table is-striped is-fullwidth">
                    <thead>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Joined at</th>
                    <th colspan="2">Approved</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for member in lab.lab_members %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {{ member.user.fullname }}
                                {% if member.user == lab.creator %}
                                <span class="tag is-rounded is-warning">
                                    admin
                                </span>
                                {% endif %}
                            </td>
                            <td>{{ member.joined_at|humanizedt }}
                            <td>
                                {% if not member.approved %}
                                    <span class="icon">
                                        <i class="fas fa-user-clock has-text-danger"></i>
                                    </span>
                                {% elif member.deactivated_at %}
                                    <span class="icon">
                                        <i class="fas fa-user-slash has-text-danger"></i>
                                    </span>
                                {% elif member.approved %}
                                    <span class="icon">
                                        <i class="fas fa-user-check has-text-success"></i>
                                    </span>
                                {% endif %}
                            </td>
                            {% if current_user == lab.creator %}
                                {% if not member.approved %}
                                    <td>
                                        <a class="button is-rounded is-small is-success"
                                           href="{{ url_for('main.approve_member', lab_id=lab.id, user_id=member.user.id) }}">
                                            <span class="icon">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </span>
                                            <span>approve</span>
                                        </a>
                                    </td>
                                {% else %}
                                <td>
                                    {% if not member.deactivated_at %}
                                    <a class="button is-danger is-rounded is-small"
                                       hx-indicator="this"
                                       hx-swap="none"
                                       hx-confirm="You want to deactivate this member?"
                                       hx-delete="{{ url_for('main.approve_member', lab_id=lab.id, user_id=member.user.id) }}">
                                        <span class="icon">
                                            <i class="fa-solid fa-ban"></i>
                                        </span>
                                        <span>deactivate</span>
                                    </a>
                                    {% else %}
                                    <a class="button is-success is-rounded is-small"
                                       hx-indicator="this"
                                       hx-swap="none"
                                       hx-confirm="You want to activate this member?"
                                       hx-post="{{ url_for('main.approve_member', lab_id=lab.id, user_id=member.user.id) }}">
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span>activate</span>
                                    </a>
                                    {% endif %}
                                </td>
                                {% endif %}
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="buttons is-centered">
                    <a href="{{ url_for('lab.landing', lab_id=session['lab_id']) }}"
                       class="button is-rounded is-light">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}