{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="tabs is-centered is-boxed">
            <ul>
                <li><a href="{{ url_for('lab.list_tests', lab_id=lab.id) }}">Tests</a></li>
                <li class="is-active"><a>Result Choice Sets</a></li>
            </ul>
        </div>
        <div class="columns">
            <div class="column">
                <p class="notification is-info">
                    ชุดคำตอบออกแบบมาเพื่อการทดสอบที่มีการตอบแบบตายตัวตามหลักเกณฑ์เช่น grading ซึ่งสามารถใช้กับหลายการทดสอบได้ การแยกตารางคำตอบออกมา
                    ทำให้สะดวกในการแก้ไขและใช้ซ้ำในหลายๆ การทดสอบ ในระบบนี้ผู้ใช้สามารถเพิ่มเกณฑ์หรือการตอบได้ตามต้องการ
                </p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="notification is-{{ category }}">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="buttons is-right">
                    <a class="button is-success is-rounded"
                        href="{{ url_for('lab.add_choice_set', lab_id=lab.id) }}">
                        <span class="icon">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        <span>New Set</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
            {% for cs in lab.choice_sets %}
                <h1 class="title is-size-5 is-link">
                    <span class="title is-size-5">PK={{ cs.id }} {{ cs.name }}</span>
                    <a>
                        <span class="icon">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                    </a>
                    <a href="{{ url_for('lab.remove_choice_set', lab_id=lab.id, choice_set_id=cs.id) }}">
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                    </a>
                </h1>
                <table class="table is-striped box">
                    <thead>
                    <th>PK</th>
                    <th>Result</th>
                    <th>Interpretation</th>
                    <th>Reference value</th>
                    <th colspan="2"></th>
                    </thead>
                    <tbody>
                    {% for ci in cs.choice_items %}
                        <tr>
                            <td>
                                <span class="icon">
                                    <i class="fas fa-key"></i>
                                </span>
                                <span>{{ ci.id }}</span>
                            </td>
                            <td>{{ ci.result }}</td>
                            <td>{{ ci.interpretation }}</td>
                            <td>
                                {% if ci.ref %}
                                <span class="icon">
                                    <i class="fas fa-check-circle has-text-success"></i>
                                </span>
                                {% endif %}
                            </td>
                            <td>
                                <span class="icon">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </td>
                            <td>
                                <a href="{{ url_for('lab.remove_choice_item', lab_id=lab.id, choice_set_id=cs.id, choice_item_id=ci.id) }}">
                                    <span class="icon">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6">
                            <a href="{{ url_for('lab.add_choice_item', lab_id=lab.id, choice_set_id=cs.id) }}"
                               class="button is-info is-rounded is-small">
                                <span class="icon">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                                <span>Choice</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% endfor %}
            </div>
        </div>
    </div>
    </section>
{% endblock %}