{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered">Customers</h1>
                {% include "messages.html" %}
                <div class="box">
                <div class="buttons is-right">
                    <a class="button is-success is-rounded"
                        href="{{ url_for('lab.add_patient', lab_id=lab.id) }}">
                        <span class="icon">
                            <i class="fas fa-user-plus"></i>
                        </span>
                        <span>New Customer</span>
                    </a>
                    <a class="button is-primary is-rounded" id="random-btn"
                       hx-confirm="Are you sure?"
                       hx-post="{{ url_for('lab.add_random_patients', lab_id=lab.id, n=5) }}">
                        <span class="icon">
                            <i class="fas fa-robot"></i>
                        </span>
                        <span>Random Customers</span>
                    </a>
                </div>
                    <table id="table" class="table is-fullwidth is-striped">
                        <thead>
                        <th colspan="2">HN</th>
                        <th>Title</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Date of Birth</th>
                        <th>Pending Orders</th>
                        <th>Orders</th>
                        </thead>
                        <tbody>
                        {% for customer in lab.customers %}
                            <tr>
                            <td>
                                <span class="icon">
                                    <i class="fas fa-key"></i>
                                </span>
                                <span>{{ customer.id }}</span>
                            </td>
                            <td>
                                <a href="{{ url_for('lab.add_patient', lab_id=lab.id, customer_id=customer.id) }}">
                                    <span class="icon">
                                        <i class="fas fa-pencil-alt"></i>
                                    </span>
                                </a>
                            </td>
                            <td>{{ customer.title }}</td>
                            <td>{{ customer.firstname }}</td>
                            <td>{{ customer.lastname }}</td>
                            <td>{{ customer.gender }}</td>
                            <td>{{ customer.dob }}</td>
                            <td>
                                <div class="field is-grouped is-grouped-multiline">
                                    <div class="control">
                                        <div class="tags has-addons">
                                            <span class="tag is-medium is-warning is-rounded">
                                                {{ customer.pending_test_orders|length }}
                                            </span>
                                            <span class="tag is-rounded is-medium">pending</span>
                                        </div>
                                    </div>
                                    <div class="control">
                                        <div class="tags has-addons">
                                            <span class="tag is-success is-medium is-rounded">
                                                {{ customer.test_orders|length }}
                                            </span>
                                            <span class="tag is-rounded is-medium">all</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="field has-addons">
                                    <p class="control">
                                        <a class="button is-rounded"
                                           href="{{ url_for('lab.add_test_order', lab_id=lab.id, customer_id=customer.id) }}">
                                            <span class="icon">
                                                <i class="fas fa-plus-circle"></i>
                                            </span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-rounded"
                                           id="auto-order-{{ customer.id }}-btn"
                                           hx-post="{{ url_for('lab.auto_add_test_order', lab_id=lab.id, customer_id=customer.id) }}">
                                            <span class="icon">
                                                <i class="fas fa-robot"></i>
                                            </span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-rounded"
                                           href="{{ url_for('lab.show_customer_records', customer_id=customer.id) }}">
                                            <span class="icon">
                                                <i class="fas fa-clipboard-list"></i>
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <a href="{{ url_for('lab.landing', lab_id=lab.id) }}"
               class="button is-light is-rounded">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Back</span>
            </a>
            <a href="{{ url_for('lab.list_test_orders', lab_id=lab.id) }}"
               class="button is-primary is-rounded">
                <span class="icon">
                    <i class="fas fa-list-ol"></i>
                </span>
                <span>Orders</span>
            </a>
            <a href="{{ url_for('lab.list_pending_orders', lab_id=lab.id) }}"
               class="button is-warning is-rounded">
                <span class="icon">
                    <i class="far fa-clock"></i>
                </span>
                <span>Pending Test Results</span>
            </a>
        </div>
    </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        document.addEventListener('htmx:beforeSend', function (data) {
            htmx.addClass(htmx.find('#' + data.target.id), 'is-loading')
        })
        $(document).ready(function () {
            $('#table').DataTable();
        })
    </script>
{% endblock %}