{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    {% include "messages.html" %}
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-4 has-text-centered">All Orders</h1>
                    <h1 class="subtitle is-size-4 has-text-centered">{{ customer.fullname }}</h1>
                    <div class="box">
                        <p class="notification">รายการคำสั่งตรวจที่รับรองผลแล้วหมายถึงส่งผลการทดสอบให้ผู้ใช้แล้ว<button class="delete"></button></p>
                        <table class="table is-fullwidth">
                            <thead>
                            <th>Order No.</th>
                            <th>Ordered At</th>
                            <th>Tests</th>
                            <th>Ordered By FK</th>
                            <th>Ordered By</th>
                            <th>Approved</th>
                            <th>Action</th>
                            </thead>
                            <tbody>
                            {% for order in customer.test_orders|sort(attribute='ordered_at', reverse=True) %}
                                    <tr {% if order.cancelled_at %} class="has-text-danger" {% endif %}>
                                        <td>
                                        <span class="icon">
                                            <i class="fas fa-key"></i>
                                        </span>
                                            <span>{{ order.id }}</span>
                                        </td>
                                        <td>{{ order.ordered_at|humanizedt }}</td>
                                        <td>
                                            <a href="{{ url_for('lab.show_customer_test_records', customer_id=customer.id, order_id=order.id) }}">
                                                <span class="tag is-warning is-rounded">
                                                    {{ order.test_records|length }}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                        <span class="icon">
                                            <i class="fas fa-link"></i>
                                        </span>
                                            <span>{{ order.ordered_by_id }}</span>
                                        </td>
                                        <td>{{ order.ordered_by }}</td>
                                        <td>
                                            {% if order.approved_at %}
                                            <span class="tag is-success is-rounded">
                                                <span class="icon">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span>
                                                    {{ order.approved_at|humanizedt }}
                                                </span>
                                            </span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if not order.approved_at and not order.cancelled_at %}
                                            <a hx-delete="{{ url_for('lab.add_test_order', lab_id=order.lab_id, order_id=order.id, customer_id=order.customer_id) }}"
                                               hx-target="closest tr"
                                               hx-confirm="Are you sure want to cancel this order?"
                                               class="tag is-rounded is-danger">
                                                <span class="icon">
                                                    <i class="fas fa-times"></i>
                                                </span>
                                                <span>cancel</span>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="buttons is-centered">
                <a href="{{ url_for('lab.list_patients', lab_id=customer.lab.id) }}"
                   class="button is-light is-rounded">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Back</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
