{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="notification is-{{ category }}">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered is-two-thirds is-offset-2">
            <h1 class="title">Add Lab Result</h1>
                <form method="post" class="box">
                    {{ form.hidden_tag() }}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">H.N.</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" disabled value="{{ recordset.order.customer.id }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Name</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" disabled value="{{ recordset.order.customer.fullname }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Test</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" disabled value="{{ recordset.order.test.name }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Ordered At</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" disabled value="{{ recordset.order.ordered_at|humanizedt }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if form.choice %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Choices</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <div class="select">
                                        {{ form.choice() }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{ form.text_result.label }}</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{ form.text_result(class="input") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{ form.comment.label }}</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    {{ form.comment(class="textarea") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label"></label>
                        </div>
                        <div class="field-body">
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-success" type="submit">Save</button>
                                </div>
                                <div class="control">
                                    <a class="button is-danger" href="{{ url_for('lab.show_customer_qual_recordset', recordset_id=recordset.id, customer_id=recordset.order.customer.id) }}">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
