{% extends "base.html" %}

{% block content %}
    <section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{ lab.name }}
            </h1>
        </div>
    </div>
    </section>
    <section class="section">
    <div class="columns">
        <div class="column">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="notification is-{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="columns">
        <div class="column is-one-third is-offset-4">
            <nav class="panel is-primary">
                <p class="panel-heading">
                    Menu
                </p>
                <a class="panel-block" href="{{ url_for('main.list_members', lab_id=lab.id) }}">
                    <span class="panel-icon">
                        <i class="fas fa-vial"></i>
                    </span>
                    รายชื่อบุคลากรในแลบ
                </a>
                <a class="panel-block" href="{{ url_for('lab.list_tests', lab_id=lab.id) }}">
                    <span class="panel-icon">
                        <i class="fas fa-vial"></i>
                    </span>
                    รายการทดสอบ
                </a>
                <a class="panel-block" href="{{ url_for('lab.list_patients', lab_id=lab.id) }}">
                    <span class="panel-icon">
                        <i class="fas fa-users"></i>
                    </span>
                    รายชื่อผู้ป่วย/ผู้รับบริการ
                </a>
                <a class="panel-block" href="{{ url_for('lab.list_pending_orders', lab_id=lab.id) }}">
                    <span class="panel-icon">
                        <i class="fas fa-vial"></i>
                    </span>
                    รอผลการทดสอบ
                </a>
                <a class="panel-block" href="{{ url_for('lab.list_activities', lab_id=lab.id) }}">
                    <span class="panel-icon">
                        <i class="far fa-clock"></i>
                    </span>
                    ประวัติกิจกรรม (activity log)
                </a>
                <a class="panel-block" href="{{ url_for('main.index') }}">
                    <span class="panel-icon">
                       <i class="fas fa-sign-out-alt"></i>
                    </span>
                    ออกจากแลบ
                </a>
            </nav>
        </div>
    </div>
    </section>
{% endblock %}