{% extends "base.html" %}

{% block content %}
    <section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{ lab.name }}
            </h1>
        </div>
    </div>
    </section>
    <section class="section">
    <div class="columns">
        <div class="column is-one-third is-offset-4">
            <nav class="panel is-primary">
                <p class="panel-heading">
                    Menu
                </p>
                <a class="panel-block" href="{{ url_for('lab.list_tests', lab_id=lab.id) }}">
                    <span class="panel-icon">
                        <i class="fas fa-vial"></i>
                    </span>
                    รายการทดสอบ
                </a>
                <a class="panel-block" href="{{ url_for('main.index') }}">
                    <span class="panel-icon">
                       <i class="fas fa-sign-out-alt"></i>
                    </span>
                    ออกจากแลบ
                </a>
            </nav>
        </div>
    </div>
    </section>
{% endblock %}