{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    {% include "messages.html" %}
                </div>
            </div>
            <div class="columns">
                <div class="column is-one-third is-offset-4">
                    <h1 class="title is-size-4 has-text-centered">New Lab Form</h1>
                    <p class="notification">
                        ผู้สร้างห้องปฏิบัติการจะได้สิทธิเป็น admin โดยอัตโนมัติและไม่สามารถเปลี่ยนแปลงได้
                    </p>
                    <form method="post" class="box">
                        {{ form.csrf_token }}
                        <div class="field">
                            <label class="label">{{ form.name.label }}</label>
                            <div class="control">
                                {{ form.name(class="input") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.desc.label }}</label>
                            <div class="control">
                                {{ form.desc(class="textarea") }}
                            </div>
                        </div>
                        <hr>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button class="button is-success">Create</button>
                            </div>
                            <div class="control">
                                <a href="{{ url_for('main.index') }}" class="button is-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
