{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">New Test Order</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column box is-one-third is-offset-4">
                <h1 class="title is-size-4">Select Tests</h1>
                <form method="post">
                    {% for test in lab.tests %}
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" name="test_ids" value="{{ test.id }}">
                                {{ test.name }}
                            </label>
                        </div>
                    {% endfor %}
                    <div class="buttons is-centered">
                        <a class="button is-light">Cancel</a>
                        <button class="button is-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>
{% endblock %}