{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                <div class="panel">
                    <div class="panel-heading">
                        Select Quantitative Test
                    </div>
                    {% for test in lab.quant_tests %}
                        <a class="panel-block" href="{{ url_for('lab.add_quan_test_order', lab_id=lab.id, customer_id=customer_id, test_id=test.id) }}">
                            <span class="panel-icon">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                            {{ test.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-third is-offset-4">
                <div class="panel">
                    <div class="panel-heading">
                        Select Qualitative Test
                    </div>
                    {% for test in lab.qual_tests %}
                        <a class="panel-block" href="{{ url_for('lab.add_qual_test_order', lab_id=lab.id, customer_id=customer_id, test_id=test.id) }}">
                            <span class="panel-icon">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                            {{ test.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}