{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% include "messages.html" %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
            <h1 class="title is-size-4 has-text-centered">Pending Orders</h1>
                <p class="notification is-light">แสดงรายการทดสอบที่รับเข้าระบบแล้วและยังไม่ได้รายงานผลการทดสอบเท่านั้น <button class="delete"></button></p>
                <div class="box">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                        <th>Order No.</th>
                        <th>Ordered At</th>
                        <th>H.N.</th>
                        <th>Customer</th>
                        <th>Test FK</th>
                        <th>Test Name</th>
                        <th>Ordered By FK</th>
                        <th>Ordered By</th>
                        <th>Received At</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for qtest in lab.pending_test_records %}
                            {% if not qtest.cancelled_at and qtest.received_at and not qtest.finished_at %}
                                <tr>
                                    <td>
                                        <span class="icon">
                                            <i class="fas fa-key"></i>
                                        </span>
                                        <span>{{ qtest.id }}</span>
                                    </td>
                                    <td>
                                        {{ qtest.ordered_at|humanizedt }}
                                    </td>
                                    <td>
                                        <span class="icon">
                                            <i class="fas fa-link"></i>
                                        </span>
                                        <span>{{ qtest.order.customer.id }}</span>
                                    </td>
                                    <td>{{ qtest.order.customer }}</td>
                                    <td>
                                        <span class="icon">
                                            <i class="fas fa-link"></i>
                                        </span>
                                        <span>{{ qtest.test.id }}</span>
                                    </td>
                                    <td>{{ qtest.test.name }}</td>
                                    <td>
                                        <span class="icon">
                                            <i class="fas fa-link"></i>
                                        </span>
                                        <span>{{ qtest.ordered_by_id }}</span>
                                    </td>
                                    <td>{{ qtest.ordered_by }}</td>
                                    <td>{{ qtest.received_at|humanizedt }}</td>
                                    <td>
                                        <div class="buttons is-centered">
                                            {% if qtest.received_at and not qtest.order.approved_at %}
                                            <a href="{{ url_for('lab.finish_test_record', order_id=qtest.order.id, record_id=qtest.id) }}"
                                                class="button is-small is-rounded is-success">
                                                Finish
                                            </a>
                                            {% endif %}
                                            <a hx-post="{{ url_for('lab.cancel_test_record', record_id=qtest.id) }}"
                                               hx-vals='{"pending": "true"}'
                                               hx-confirm="Are you sure want to cancel?"
                                               class="button is-small is-rounded is-danger">
                                                Cancel
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <a href="{{ url_for('lab.list_patients', lab_id=lab.id) }}" class="button is-light is-rounded">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Back</span>
            </a>
        </div>
    </div>
    </section>
{% endblock %}
