{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="notification is-{{ category }}">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
            <h1 class="title is-size-4 has-text-centered">Pending Orders</h1>
                <div class="box">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                        <th>Order No.</th>
                        <th>Ordered At</th>
                        <th>H.N.</th>
                        <th>Customer</th>
                        <th>Test FK</th>
                        <th>Test Name</th>
                        <th>Ordered By FK</th>
                        <th>Ordered By</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for qtest in lab.quan_test_orders %}
                            {% if not qtest.cancelled_at and qtest.received_at and not qtest.finished_at %}
                                <tr>
                                    <td>
                                        <span class="icon">
                                            <i class="fas fa-key"></i>
                                        </span>
                                        <span>{{ qtest.id }}</span>
                                    </td>
                                    <td>{{ qtest.ordered_at|humanizedt }}</td>
                                    <td>
                                        <span class="icon">
                                            <i class="fas fa-link"></i>
                                        </span>
                                        <span>{{ qtest.customer.id }}</span>
                                    </td>
                                    <td>{{ qtest.customer }}</td>
                                    <td>
                                        <span class="icon">
                                            <i class="fas fa-link"></i>
                                        </span>
                                        <span>{{ qtest.test.id }}</span>
                                    </td>
                                    <td>{{ qtest.test.name }}</td>
                                    <td>
                                        <span class="icon">
                                            <i class="fas fa-link"></i>
                                        </span>
                                        <span>{{ qtest.ordered_by_id }}</span>
                                    </td>
                                    <td>{{ qtest.ordered_by }}</td>
                                    <td>
                                        <div class="buttons is-centered">
                                            <a href="{{ url_for('lab.finish_quan_test_order', order_id=qtest.id, lab_id=qtest.lab.id) }}"
                                                class="button is-small is-rounded is-success">
                                                Finish
                                            </a>
                                            <a href="{{ url_for('lab.cancel_quan_test_order', order_id=qtest.id, lab_id=lab.id, pending=True) }}"
                                               class="button is-small is-rounded is-danger">
                                                Cancel
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for qtest in lab.qual_test_orders %}
                            {% if not qtest.cancelled_at and qtest.received_at and not qtest.finished_at %}
                                <tr>
                                    <td>
                                        <span class="icon">
                                            <i class="fas fa-key"></i>
                                        </span>
                                        <span>{{ qtest.id }}</span>
                                    </td>
                                    <td>{{ qtest.ordered_at|humanizedt }}</td>
                                    <td>
                                        <span class="icon">
                                            <i class="fas fa-link"></i>
                                        </span>
                                        <span>{{ qtest.customer.id }}</span>
                                    </td>
                                    <td>{{ qtest.customer }}</td>
                                    <td>
                                        <span class="icon">
                                            <i class="fas fa-link"></i>
                                        </span>
                                        <span>{{ qtest.test.id }}</span>
                                    </td>
                                    <td>{{ qtest.test.name }}</td>
                                    <td>
                                        <span class="icon">
                                            <i class="fas fa-link"></i>
                                        </span>
                                        <span>{{ qtest.ordered_by_id }}</span>
                                    </td>
                                    <td>{{ qtest.ordered_by }}</td>
                                    <td>
                                        <div class="buttons is-centered">
                                            <a href="{{ url_for('lab.finish_qual_test_order', order_id=qtest.id, lab_id=qtest.lab.id) }}"
                                               class="button is-small is-rounded is-success">
                                                Finish
                                            </a>
                                            <a href="{{ url_for('lab.cancel_qual_test_order', order_id=qtest.id, lab_id=lab.id, pending=True) }}"
                                               class="button is-small is-rounded is-danger">
                                                Cancel
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <a href="{{ url_for('lab.landing', lab_id=lab.id) }}"
               class="button is-light is-rounded">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Back</span>
            </a>
        </div>
    </div>
    </section>
{% endblock %}
