{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="notification is-{{ category }}">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered">Order History</h1>
                <div class="box">
                    <table class="table is-striped is-fullwidth">
                    <thead>
                    <th>Order No.</th>
                    <th>Ordered At</th>
                    <th>Ordered By FK (User FK)</th>
                    <th>Ordered By</th>
                    <th>Cancelled At</th>
                    <th>H.N.</th>
                    <th>Customer</th>
                    <th>Test FK</th>
                    <th>Test Name</th>
                    <th>Results</th>
                    <th colspan="2"></th>
                    </thead>
                    <tbody>
                        {% for qtest in orders|sort(attribute='ordered_at', reverse=True) %}
                            <tr {% if qtest.order.cancelled_at %} class="has-text-danger" {% elif qtest.order.finished_at %} class="has-text-success" {% endif %}>
                                <td>
                                    <span class="icon">
                                        <i class="fas fa-key"></i>
                                    </span>
                                    <span>{{ qtest.order.id }}</span>
                                </td>
                                <td>{{ qtest.order.ordered_at|humanizedt }}</td>
                                <td>
                                    <span class="icon">
                                        <i class="fas fa-link"></i>
                                    </span>
                                    <span>{{ qtest.order.ordered_by_id }}</span>
                                </td>
                                <td>{{ qtest.order.ordered_by }}</td>
                                <td>
                                    {% if qtest.order.cancelled_at %}
                                    {{ qtest.order.cancelled_at|humanizedt }}
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="icon">
                                        <i class="fas fa-link"></i>
                                    </span>
                                    <span>
                                        {{ qtest.order.customer.id }}
                                    </span>
                                </td>
                                <td>{{ qtest.order.customer }}</td>
                                <td>
                                    <span class="icon">
                                        <i class="fas fa-link"></i>
                                    </span>
                                    <span>{{ qtest.order.test.id }}</span>
                                </td>
                                <td>{{ qtest.order.test.name }}</td>
                                <td>
                                    <div class="buttons is-centered">
                                        {% if not qtest.order.received_at and not qtest.order.cancelled_at and not qtest.order.finished_at %}
                                            {% if qtest.test_type == 'quan' %}
                                            <a href="{{ url_for('lab.receive_quan_test_order', order_id=qtest.order.id, lab_id=lab.id) }}"
                                            class="button is-small is-rounded is-success">
                                                Receive
                                            </a>
                                            {% else %}
                                            <a href="{{ url_for('lab.receive_qual_test_order', order_id=qtest.order.id, lab_id=lab.id) }}"
                                            class="button is-small is-rounded is-success">
                                                Receive
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                        {% if not qtest.order.cancelled_at and not qtest.order.finished_at %}
                                            {% if qtest.test_type == 'quan' %}
                                            <a href="{{ url_for('lab.cancel_quan_test_order', order_id=qtest.order.id, lab_id=lab.id) }}"
                                            class="button is-small is-rounded is-danger">
                                                Reject
                                            </a>
                                            {% else %}
                                            <a href="{{ url_for('lab.cancel_qual_test_order', order_id=qtest.order.id, lab_id=lab.id) }}"
                                            class="button is-small is-rounded is-danger">
                                                Reject
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <a href="{{ url_for('lab.landing', lab_id=lab.id) }}"
               class="button is-light is-rounded">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Back</span>
            </a>
            <a href="{{ url_for('lab.list_pending_orders', lab_id=lab.id) }}"
               class="button is-info is-rounded">
                <span class="icon">
                    <i class="far fa-clock"></i>
                </span>
                <span>Pending orders</span>
            </a>
        </div>
    </div>
    </section>
{% endblock %}
