{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% include "messages.html" %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h1 class="title is-size-4 has-text-centered">All Result Records</h1>
                <div class="box">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                        <th>Order ID</th>
                        <th>Test Name</th>
                        <th>Record ID</th>
                        <th>Updated at</th>
                        <th>Updated by ID</th>
                        <th>Updated by</th>
                        <th>Numeric Result</th>
                        <th>Text Result</th>
                        <th>Status</th>
                        <th>Approved At</th>
                        <th>Specimens</th>
                        <th>Audit Trail</th>
                        </thead>
                        <tbody>
                        {% for rec in order.test_records %}
                            <tr>
                            <td>
                                <span class="icon">
                                    <i class="fas fa-link"></i>
                                </span>
                                <span>{{ order.id }}</span>
                            </td>
                            <td>{{ rec.test.name }}</td>
                            <td>
                                <span class="icon">
                                    <i class="fas fa-key"></i>
                                </span>
                                <span>{{ rec.id }}</span>
                            </td>
                            <td>
                                {% if rec.updated_at %}
                                {{ rec.updated_at|localdatetime }}
                                {% endif %}
                            </td>
                            <td>
                                <span class="icon">
                                    <i class="fas fa-link"></i>
                                </span>
                                <span>{{ rec.updater_id }}</span>
                            </td>
                            <td>{{ rec.updater }}</td>
                            <td>{{ rec.num_result or '' }}</td>
                            <td>{{ rec.text_result or '' }}</td>
                            <td>
                                <span class="icon">
                                {% if rec.reject_record or rec.order.cancelled_at %}
                                    <i class="fas fa-minus-circle has-text-danger"></i>
                                {% else %}
                                    <i class="fas fa-check-circle has-text-success"></i>
                                {% endif %}
                                </span>
                            </td>
                            <td>
                                {% if order.approved_at %}
                                {{ order.approved_at|localdatetime }}
                                {% endif %}
                            </td>
                            <td>
                                <div class="tags">
                                    {% if not order.approved_at and rec.received_at %}
                                        <a href="{{ url_for('lab.finish_test_record', record_id=rec.id, order_id=rec.order_id) }}"
                                           class="tag is-small is-rounded is-info">
                                            <span class="icon"><i class="fas fa-pencil-alt"></i></span>
                                            <span>report</span>
                                        </a>
                                    {% endif %}
                                    {% if not rec.received_at and not rec.reject_record and not rec.cancelled %}
                                        <a href="{{ url_for('lab.receive_test_order', record_id=rec.id) }}"
                                           class="tag is-rounded is-success">
                                        <span class="icon">
                                            <i class="fas fa-check-square"></i>
                                        </span>
                                            <span>
                                            accept
                                        </span>
                                        </a>
                                        <a href="{{ url_for('lab.reject_test_order', record_id=rec.id) }}"
                                           class="tag is-rounded is-danger">
                                        <span class="icon">
                                            <i class="fas fa-times"></i>
                                        </span>
                                            <span>
                                            reject
                                        </span>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <a class="tag is-rounded is-link" href="{{ url_for('lab.test_record_revisions', record_id=rec.id) }}">
                                    <span class="icon">
                                        <i class="fas fa-history"></i>
                                    </span>
                                    <span>view</span>
                                </a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <a href="{{ url_for('lab.show_customer_records', customer_id=customer.id) }}"
               class="button is-light is-rounded">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Back</span>
            </a>
            {% if not order.approved_at %}
            <a hx-confirm="Are you sure?" hx-get="{{ url_for('lab.approve_test_order', order_id=order.id) }}"
               class="button is-success is-rounded" id="approve-btn">
                <span class="icon">
                    <i class="fas fa-check"></i>
                </span>
                <span>Approve</span>
            </a>
            <a href="{{ url_for('lab.add_test_order', order_id=order.id, customer_id=customer.id, lab_id=order.lab.id) }}"
                    class="button is-outlined is-rounded is-link">
                <span class="icon">
                    <i class="fas fa-pencil-alt"></i>
                </span>
                <span>Edit</span>
            </a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        document.addEventListener('htmx:beforeSend', function () {
            htmx.addClass(htmx.find('#approve-btn'), 'is-loading')
        })
    </script>
{% endblock %}
