{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="notification is-{{ category }}">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h1 class="title has-text-centered">Order Rejection History</h1>
                <div class="box">
                    <table class="table is-striped is-fullwidth">
                    <thead>
                    <th>Order No.</th>
                    <th>Ordered At</th>
                    <th>Ordered By</th>
                    <th>Rejcted At</th>
                    <th>H.N.</th>
                    <th>Customer</th>
                    <th>Test FK</th>
                    <th>Test Name</th>
                    <th>Reason</th>
                    <th>Detail</th>
                    </thead>
                    <tbody>
                        {% for qtest in records %}
                            <tr>
                                <td>
                                    <span class="icon">
                                        <i class="fas fa-key"></i>
                                    </span>
                                    <span>{{ qtest.order.id }}</span>
                                </td>
                                <td>{{ qtest.order.ordered_at|humanizedt }}</td>
                                <td>{{ qtest.order.ordered_by }}</td>
                                <td>
                                    <span class="tag is-danger is-rounded">
                                        {{ qtest.reject_record.created_at|humanizedt }}
                                    </span>
                                </td>
                                <td>
                                    <span class="icon">
                                        <i class="fas fa-link"></i>
                                    </span>
                                    <span>
                                        {{ qtest.order.customer.id }}
                                    </span>
                                </td>
                                <td>{{ qtest.order.customer }}</td>
                                <td>
                                    <span class="icon">
                                        <i class="fas fa-link"></i>
                                    </span>
                                    <span>{{ qtest.test.id }}</span>
                                </td>
                                <td>{{ qtest.test.name }}</td>
                                <td>{{ qtest.reject_record.reason }}</td>
                                <td>{{ qtest.reject_record.detail }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <a href="{{ url_for('lab.landing', lab_id=lab.id) }}"
               class="button is-light is-rounded">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Back</span>
            </a>
            <a href="{{ url_for('lab.list_pending_orders', lab_id=lab.id) }}"
               class="button is-info is-rounded">
                <span class="icon">
                    <i class="far fa-clock"></i>
                </span>
                <span>Pending orders</span>
            </a>
        </div>
    </div>
    </section>
{% endblock %}
