{% extends "base.html" %}

{% block content %}
    <section class="section">
    <div class="container">
        <div class="tabs is-centered is-boxed">
            <ul>
                <li class="is-active"><a>Tests</a></li>
                <li><a href="{{ url_for('lab.list_choice_sets', lab_id=lab.id) }}">Result Choice Sets</a></li>
            </ul>
        </div>
        <div class="columns">
            <div class="column">
                <p class="title is-size-5 has-text-centered">Quantitative</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
            <div class="box">
                <div class="buttons is-right">
                    <a class="button is-success is-rounded"
                       href="{{ url_for('lab.add_quan_test', lab_id=lab.id) }}">
                        <span class="icon">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        <span>Add</span>
                    </a>
                </div>
                <table class="table is-striped">
                    <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Choice Set</th>
                    <th>Min Value</th>
                    <th>Max Value</th>
                    <th>Ref. Min Value</th>
                    <th>Ref. Max Value</th>
                    <th>Added at</th>
                    <th>Active</th>
                    </thead>
                    <tbody>
                    {% for test in lab.quant_tests %}
                        <tr>
                            <td>{{ test.name }}</td>
                            <td>{{ test.detail }}</td>
                            <td>{{ test.choice_set }}</td>
                            <td>{{ test.min_value }}</td>
                            <td>{{ test.max_value }}</td>
                            <td>{{ test.min_ref_value }}</td>
                            <td>{{ test.max_ref_value }}</td>
                            <td>{{ test.added_at|humanizedt }}</td>
                            <td>
                                {% if test.active %}
                                    <span class="icon">
                                    <i class="fas fa-check-circle has-text-success"></i>
                                </span>
                                {% else %}
                                    <span class="icon">
                                    <i class="fas fa-minus-circle has-text-danger"></i>
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="title is-size-5 has-text-centered">Qualitative</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
            <div class="box">
                <div class="buttons is-right">
                    <a class="button is-success is-rounded" href="{{ url_for('lab.add_qual_test', lab_id=lab.id) }}">
                        <span class="icon">
                            <i class="fas fa-plus-circle"></i>
                        </span>
                        <span>Add</span>
                    </a>
                </div>
                <table class="table is-striped is-fullwidth">
                    <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Choice Set</th>
                    <th>Added at</th>
                    <th>Active</th>
                    </thead>
                    <tbody>
                    {% for test in lab.qual_tests %}
                        <tr>
                            <td>{{ test.name }}</td>
                            <td>{{ test.detail }}</td>
                            <td>{{ test.choice_set }}</td>
                            <td>{{ test.added_at|humanizedt }}</td>
                            <td>
                                {% if test.active %}
                                    <span class="icon">
                                    <i class="fas fa-check-circle has-text-success"></i>
                                </span>
                                {% else %}
                                    <span class="icon">
                                    <i class="fas fa-minus-circle has-text-danger"></i>
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <div class="buttons is-centered">
            <a href="{{ url_for('lab.landing', lab_id=lab.id) }}"
                class="button is-light is-rounded">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Back</span>
            </a>
        </div>
    </div>
    </section>
{% endblock %}