<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulmaswatch/0.8.1/yeti/bulmaswatch.min.css" integrity="sha512-M4A2UuDV9o9K0wo/NoyOm2hVrO6CmAit/3AQ3XXCh2A3qUzp3em2jJj0Bqi9mBMikBLD4cp0U/5hzKVs5SyfnQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>
    {% block styles %}
    {% endblock %}
    <title>Title</title>
</head>
<body>
{% block navbar %}
    {% include "nav.html" %}
{% endblock %}
{% block content %}
{% endblock %}
<footer class="footer">
    <div class="container has-text-centered">
        <p>
        <h1 class="title is-size-4">Lab Tycoon</h1>
        </p>
        <p>
            <strong>
                Open Source Laboratory Information System for Education
            </strong>
        </p>
        <p>
            by Knowledge Base and Informatics Lab.
        </p>
        <p>
            Department of Community Medical Technology
        </p>
        <p>
            Faculty of Medical Technology, Mahidol University
        </p>
    </div>
    {% if config['DEBUG'] %}
        <article class="message is-warning">
            <div class="message-header">
                DEBUG MODE Only
            </div>
            <div class="message-body">
                <strong>Template file:</strong> {{ self._TemplateReference__context.name }}
            </div>
        </article>
    {% endif %}
</footer>
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script>
        document.addEventListener('DOMContentLoaded',
            () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;
                    $delete.addEventListener('click', () => {
                        $notification.parentNode.removeChild($notification);
                    });
                });
            })
    </script>
{% endblock %}
</body>
</html>